.cloud {
    position: absolute;
    width: 200px;

    .mist {
        position: relative;
        height: 1px;
        border-bottom: 1px solid #000;

        &:nth-child(1) {
            width: 50%;
            left: 30%;
        }

        &:nth-child(2) {
            width: 70%;
            left: 20%;
        }

        &:nth-child(3) {
            width: 100%;
        }
    }
}