<!DOCTYPE html>
<html lang="nl-NL">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="Imagine.. tires that power your car. That is the idea behind Mjl. Mjl is derived from ‘Mjölnir’ which is Thor’s hammer and really has a lot of potential energy.">
    <meta name="keywords" content="mjl, tires, automotive, car, electric, innovation, batteries, tech, airless, startup">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151323639-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-151323639-1');
    </script>
  </head>
  <body>
    <header>
      {% include logo.html %}
    </header>
    <section class="visual">
      <div class="banner">
        {% include cloud.html %}
        {% include cloud.html %}
        {% include cloud.html %}
        {% include car.html %}
      </div>
    </section>
    <section class="content">
      <div class="text">
        {{ content }}
      </div>
      <div class="social">
        <ul>
          <li><a href="https://www.linkedin.com/company/mjl-energizing-tires/" title="Mjl on LinkedIn" target="blank">in</a></li>
          <li><a href="https://angel.co/company/mjl-1" title="Mjl on Angellist" target="blank">al</a></li>
          <li><a href="https://join.slack.com/t/mjl-energizing-tires/shared_invite/enQtODE2MTQxMjI3NDA4LTlmMTU0N2ZjNmU4NmYzN2ZjNjU0MmJjYThmYWE3ZGNhMDA2MzlmYzM5NzBhNDM1YzhiMGI3MDI2ZGQ3OGUyM2U" title="Mjl on Slack" target="blank">sl</a></li>
        </ul>
      </div>
    </section>
  </body>
</html>
